.title{
    font-size: 18pt;
    color: blue;
    font-style: oblique;
    text-decoration: underline;
}

.item{
    margin: 10px;
    font-size: 20pt;
    color: crimson;
}

.body{
    font-size: 16pt;
    color: black;
}
.table{
    width: 50%;
}
th{
    color: blue;
}